<!-- Body -->
<div class="container position-relative">
    <div class="row">
      <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
        <h1>Product Detail</h1>
          <h4>
            <a href="/products/<%=product.id%>"><%=product.productTitle %></a>
          </h4>
          <p><%=product.productDescription%></p>
          <p>ราคา : <%=product.productPrice%> บาท</p>
      </div>
    </div>
  </div>